
.popup__button{
    min-width: 358px;
    min-height: 50px;
    flex-shrink: 0;
    background-color: #000;
    margin: 30px auto 36px;
    color: #ffffff;
    font-family: Inter, Arial, Helvetica, sans-serif;
    padding: 0;
    border: none;
    font-size: 18px;
    border: none; 
    margin-left: 30px;
    margin-right: 30px;
}

.popup__button:hover{
opacity: .8;
transition: 0,5s linear;
cursor: pointer;
}

@media screen and (max-width:768px) {
.popup__button{
    min-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 44px;
    margin-left: 22px;
   } 
}