.popup__imgName{
    color: white;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 291px;
    min-height: 12px;
    flex-shrink: 0; 
}