
.profile__researcher{
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 0 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-width: 336px;
    min-height: 18px;
    flex-shrink: 0;
  }

  @media screen and (max-width: 768px) {
    .profile__researcher {
      font-size:14px;
      text-align: center;
      line-height: 17px;
      margin: 0 auto;
      min-width: 160px;
      min-height: 14px;
      flex-shrink: 0;
    }
  }
  
