.popup__container {
    max-width: 430px;
    max-height: 330px;
    background-color:white ;
    position: relative;
    overflow: visible;
    border-radius: 10px;
    margin: 0 auto 0;
   }

   @media screen and (max-width:768px){
    .popup__container{
    max-width: 282px;
    max-height: 322px;
    }
}