.profile__add-button{
    background-image: url(../../../image/addButton.svg);
    min-width: 150px;
    max-height: 50px;
  background-color: black;
  border: 1px solid white;
  margin: 35px 0 0 0;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
}

.profile__add-button:hover{
  opacity: 0.6 ;
  transition: 0.5s linear;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    min-width: 282px;
    margin: 36px auto ;
    min-height: 50px;
    border: 1px solid #fff;
    background-image: url(../../../image/AddbuttonSvg2.svg);
  }
}
